<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.speakingnewsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Udaan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginScreen" />
        <activity
            android:name=".Activities.FeaturesScreen"
            android:label="Udaan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.Food_List"
            android:label="Menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.SafetyActivity"
            android:label="Safety Module"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.ContactScreen" />
        <activity android:name=".Activities.message"></activity>
    </application>

</manifest>